<?xml version="1.0"?>
<!--
/**
 * Copyright 2016-2018 Henrik Hedelund
 * Copyright 2020      Falco Nogatz
 *
 * This file is part of Chessio_Matomo.
 *
 * Chessio_Matomo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Chessio_Matomo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Chessio_Matomo.  If not, see <http://www.gnu.org/licenses/>.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <!-- Prefix "piwik/" left for compatibility with Henhed_Piwik -->
        <piwik>
            <tracking>
                <enabled>0</enabled>
                <hostname></hostname>
                <site_id>1</site_id>
                <link_enabled>1</link_enabled>
                <link_delay>500</link_delay>
                <uid_provider></uid_provider>
                <php_script_path>matomo.php</php_script_path>
                <js_script_path>matomo.js</js_script_path>
                <container_enabled>0</container_enabled>
                <container_script_path></container_script_path>
                <cdn_hostname></cdn_hostname>
            </tracking>
        </piwik>
    </default>
</config>
