<?xml version="1.0"?>
<!--
/**
 * Copyright 2016-2018 Henrik Hedelund
 *
 * This file is part of Henhed_Piwik.
 *
 * Henhed_Piwik is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Henhed_Piwik is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Henhed_Piwik.  If not, see <http://www.gnu.org/licenses/>.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Henhed\Piwik\UserId\Provider\Pool">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="entity_id" xsi:type="object">Henhed\Piwik\UserId\Provider\EntityIdProvider</item>
                <item name="email" xsi:type="object">Henhed\Piwik\UserId\Provider\EmailProvider</item>
            </argument>
        </arguments>
    </type>

</config>
